
/***********************************************************************************************/
/* BASIC AND NAVIGATION                                                                        */
/***********************************************************************************************/

@font-face {
	font-family: 'GothamLight';
	src: url('../assets/fonts/Gotham/light/GothamLight.eot');
	src: local('GothamLight'), url('../assets/fonts/Gotham/light/GothamLight.woff') format('woff'), url('../assets/fonts/Gotham/light/GothamLight.ttf') format('truetype');
}

@font-face {
	font-family: 'GothamBold';
	src: url('../assets/fonts/Gotham/bold/GothamBold.eot');
	src: local('GothamBold'), url('../assets/fonts/Gotham/bold/GothamBold.woff') format('woff'), url('../assets/fonts/Gotham/bold/GothamBold.ttf') format('truetype');
}

@font-face {
    font-family: 'gillSans';
    src: url('../assets/fonts/Gill Sans C.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pnova';
    src: url('../assets/fonts/Mark Simonson - Proxima Nova Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
	background-color: #F2F2F2;
	position: absolute;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	font-family: gillSans;
	font-weight: normal;
	margin: 0;

	-webkit-font-smoothing: antialiased;
}

h1{
	text-align: center;
	font: inherit;
	font-size: 3em;
}

center{
	position: absolute;
	width: 100%;
	top: 25%;
}

#fbLoginButton{
	font: inherit;
	border: 2px solid #333;
	background-color: #FFF;
	padding: 1%;
	font-size: 2em;
	border-radius: 2px;
	cursor: pointer;
	outline: none;

	-webkit-transition: 1s ease;
	-moz-transition: 1s ease;
	-o-transition: 1s ease;
	-ms-transition: 1s ease;
	transition: 1s ease;  	
}

#fbLoginButton:hover{
	background-color: #333;
	color: #FFF;
}

header {
	width: 100%;
	height: 80px;
}

header h1 {
	margin: 0;
}

footer {
	text-align: center;
	width: 1170px;
  	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}


#wrapper {
	height: calc(100% - 120px);
	margin-left: 20px;
	margin-right: 20px;
}

/**************/
/**** MENU ****/
/**************/

#menu{
	height: 40px;
	width: 100%;
	margin-bottom: 20px;
}

nav {  
    display: block;  
    margin-bottom: 10px;  
}  
nav ul {  
    list-style: none;  
    font-size: 14px;  
}  
nav ul li {  
    display: inline;  
}  
nav ul li a {  
    display: block;  
    float: left;  
    padding: 3px 6px;  
    color: #575c7d;  
    text-decoration: none;  
    font-weight: bold;  
}  
nav ul li a:hover {  
    background: #deff90;  
    color: #485e0f;  
    padding: 3px 6px;  
    margin: 0;  
    text-decoration: none;  
} 

/***************************/
/********** HOME ***********/
/***************************/

.col-lg-2, .col-lg-4 {
	padding-bottom: 15px;
}

.img_peli > img{
	width: 100%;
	display: inline;
	margin-bottom: 25px;
}

.img_peli_principal > img{
	width: 100%;
	display: inline;
	margin-bottom: 15px;
}


