
/***********************************************************************************************/
/* BASIC AND NAVIGATION                                                                        */
/***********************************************************************************************/

@font-face {
	font-family: 'GothamLight';
	src: url('../assets/fonts/Gotham/light/GothamLight.eot');
	src: local('GothamLight'), url('../assets/fonts/Gotham/light/GothamLight.woff') format('woff'), url('../assets/fonts/Gotham/light/GothamLight.ttf') format('truetype');
}

@font-face {
	font-family: 'GothamBold';
	src: url('../assets/fonts/Gotham/bold/GothamBold.eot');
	src: local('GothamBold'), url('../assets/fonts/Gotham/bold/GothamBold.woff') format('woff'), url('../assets/fonts/Gotham/bold/GothamBold.ttf') format('truetype');
}

@font-face {
    font-family: 'gillSans';
    src: url('../assets/fonts/Gill Sans C.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pnova';
    src: url('../assets/fonts/Mark Simonson - Proxima Nova Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
	background-color: #F2F2F2;
	position: absolute;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	font-family: gillSans;
	font-weight: normal;
	margin: 0;

	-webkit-font-smoothing: antialiased;
}

h1{
	text-align: center;
	font: inherit;
	font-size: 3em;
}

center{
	position: absolute;
	width: 100%;
	top: 25%;
}

#fbLoginButton{
	font: inherit;
	border: 2px solid #333;
	background-color: #FFF;
	padding: 1%;
	font-size: 2em;
	border-radius: 2px;
	cursor: pointer;
	outline: none;

	-webkit-transition: 1s ease;
	-moz-transition: 1s ease;
	-o-transition: 1s ease;
	-ms-transition: 1s ease;
	transition: 1s ease;  	
}

#fbLoginButton:hover{
	background-color: #333;
	color: #FFF;
}

header {
	width: 100%;
	height: 80px;
}

header h1 {
	margin: 0;
}

footer {
	text-align: center;
	width: 1170px;
  	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}


#wrapper {
	height: calc(100% - 120px);
	margin-left: 20px;
	margin-right: 20px;
}

/**************/
/**** MENU ****/
/**************/

#menu{
	height: 40px;
	width: 100%;
	margin-bottom: 20px;
}

nav {  
    display: block;  
    margin-bottom: 10px;  
}  
nav ul {  
    list-style: none;  
    font-size: 14px;  
}  
nav ul li {  
    display: inline;  
}  
nav ul li a {  
    display: block;  
    float: left;  
    padding: 3px 6px;  
    color: #575c7d;  
    text-decoration: none;  
    font-weight: bold;  
}  
nav ul li a:hover {  
    background: #deff90;  
    color: #485e0f;  
    padding: 3px 6px;  
    margin: 0;  
    text-decoration: none;  
} 

/***************************/
/********** HOME ***********/
/***************************/

#container .col-lg-4 {

	overflow: hidden;
	text-align: center;
	position: relative;
	margin: 5px;
	border: 5px solid #fff;
	padding: 0;
	height: 671px;

	-webkit-box-shadow: 1px 1px 1px 1px #ccc;
	-moz-box-shadow: 1px 1px 1px 1px #ccc;
	box-shadow: 1px 1px 1px 1px #ccc;
}

#container .col-lg-2{

	cursor: pointer;
	overflow: hidden;
	text-align: center;
	position: relative;
	width: 15%;
	height: 217px;
	margin: 5px;
	border: 5px solid #fff;
	padding: 0;

	-webkit-box-shadow: 1px 1px 1px 1px #ccc;
	-moz-box-shadow: 1px 1px 1px 1px #ccc;
	box-shadow: 1px 1px 1px 1px #ccc;
}

/* Caption Common Style */
#container .col-lg-2 .caption {
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	color: #fff;
	z-index: 100;
	left: 0;
	top: 0px;
	height: 100%;
	opacity: 0;

	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
}

#container .img_peli > img{
	width: 100%;
	display: inline;
	left: 0;

	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
}

#container .img_peli_principal > img{
	width: 100%;
	display: inline;
	margin-bottom: 15px;
}

/** Scale Caption :hover Behaviour **/
#container .col-lg-2:hover img{
	-moz-transform: scale(1.4);
	-o-transform: scale(1.4);
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
}

#container .col-lg-2 .scale-caption h3, 
#container .col-lg-2 .scale-caption p {
	position: relative;
	left: -200px;
	width: auto;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
}

#container .col-lg-2 .scale-caption h3 {
	-webkit-transition-delay: 300ms;
	-moz-transition-delay: 300ms;
	-o-transition-delay: 300ms;
	-ms-transition-delay: 300ms;	
	transition-delay: 300ms;
}

#container .col-lg-2 .scale-caption p {
	-webkit-transition-delay: 500ms;
	-moz-transition-delay: 500ms;
	-o-transition-delay: 500ms;
	-ms-transition-delay: 500ms;	
	transition-delay: 500ms;
}

#container .col-lg-2:hover .scale-caption h3, 
#container .col-lg-2:hover .scale-caption p {
	-moz-transform: translateX(200px);
	-o-transform: translateX(200px);
	-webkit-transform: translateX(200px);
	transform: translateX(200px);
}

#container .col-lg-2:hover .scale-caption  {
	opacity: 1;
}




