<!DOCTYPE html>

<html>

    <head>
        <meta charset="UTF-8" />
        <title>Movieme :: Favorites</title>
        
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="../bootstrap/css/bootstrap-rating.css" />
        <link rel="stylesheet" href="../font-awesome-4.2.0/css/font-awesome.min.css" />

        <link rel="stylesheet" href="../css/style.css" />

        <link rel="stylesheet" href="../css/horizontal.css" />

        <script type="text/javascript" src="../jquery/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="../bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="../bootstrap/js/bootstrap-rating.js"></script>

        <script type="text/javascript" src="../js/horizontal.js"></script>
        <script type="text/javascript" src="../js/sly.js"></script>

        <script type="text/javascript" src="../js/favorites.js"></script>
        <script type="text/javascript" src="../js/globales.js"></script>

        
    </head>

    <body>
        <div id="wrapper">
            
                <object class="include" name="header" type="text/html" data="include/header.html"></object>
                
                <div id="container" class="container">

                    <!--<object class="include" name="nav" type="text/html" data="include/nav.html"></object>-->
                    <nav id="nav">
                        <ul class="nav nav-pills">
                            <li role="presentation" id="nav_home" ><a href="home.html">Movies</a></li>
                            <li role="presentation" id="nav_top10" ><a href="top10.html">Top 10</a></li>
                            <li role="presentation" id="nav_recommended" ><a href="recommended.html">Recommended For Me</a></li>
                            <li role="presentation" id="nav_favorites" ><a href="favorites.html">Favorites</a></li>
                        </ul>
                    </nav>

                    <div class="wrap">

                        <div class="frame effects" id="effects">
                            <ul id="clearfix" class="clearfix">
                                <!--<li>0</li><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li>
                                <li>10</li><li>11</li><li>12</li><li>13</li><li>14</li><li>15</li><li>16</li><li>17</li><li>18</li>
                                <li>19</li><li>20</li><li>21</li><li>22</li><li>23</li><li>24</li><li>25</li><li>26</li><li>27</li>
                                <li>28</li><li>29</li>-->

                            </ul>
                        </div>

                        <div class="controls center">
                            <button class="btn prev"><i class="icon-chevron-left"></i> prev</button>
                            <button class="btn next">next <i class="icon-chevron-right"></i></button>
                        </div>

                        <div class="scrollbar">
                            <div class="handle">
                                <div class="mousearea"></div>
                            </div>
                        </div>

                    </div>

                    <hr>

                </div><!--/.container-->

                <object class="include" name="footer" type="text/html" data="include/footer.html"></object>
                
            </div>
        </div>
    </body>

</html>