<!DOCTYPE html>

<html>

    <head>
        <meta charset="UTF-8" />

        <title>WIR-Grupo 7</title>

        <link rel="icon" type="image/jpg" href="">

        <link rel="stylesheet" href="../css/style.css" />
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="../font-awesome-4.2.0/css/font-awesome.min.css" />

        <script type="text/javascript" src="../jquery/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="../bootstrap/js/bootstrap.js"></script>
    </head>

    <body>
        <header>  
            <h1>What to Watch?</h1>   
        </header>
        <div id="menu"> 
            <nav>  
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Top 10</a></li>
                    <li><a href="#">Mis Recomendaciones</a></li>
                    <li><a href="#">Mis Movies</a></li>
                </ul>  
            </nav> 
        </div> 
        <div id="wrapper">
            <div>  
                <div id="movie_selected">  
                    <div id="img_movie">
                        <img src="../assets/movies/movie1.png">
                    </div>
                    <div id="dsc_movie">
                        <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue ex magna, et vehicula urna semper nec. Duis at auctor nibh, vitae dictum nibh. Donec urna lacus, commodo euismod nibh vel, ultrices malesuada libero. Maecenas tellus sapien, consectetur ut tincidunt.
                        </p>
                    </div>
                </div>
                <ul class="img_peli"> 
                    <li><img src="../assets/movies/movie1.png"></li>
                    <li><img src="../assets/movies/movie1.png"></li>
                    <li><img src="../assets/movies/movie1.png"></li>
                    <li><img src="../assets/movies/movie1.png"></li>
                </ul>
            </div>
        </div>  
          <div tipo="despuesvemo">
              

          </div>


        <footer>  
            <p>WIR | Grupo 7</p>  
        </footer>   
    </body>

</html>
