<!DOCTYPE html>

<html>

    <head>
        <meta charset="UTF-8" />

        <title>Movieme</title>

        <link rel="icon" type="image/jpg" href="">

        <link rel="stylesheet" href="../css/style.css" />
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="../bootstrap/css/bootstrap-rating.css" />
        <link rel="stylesheet" href="../font-awesome-4.2.0/css/font-awesome.min.css" />

        <script type="text/javascript" src="../jquery/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="../bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="../bootstrap/js/bootstrap-rating.js"></script>
        <!--<script type="text/javascript" src="../bootstrap/js/bootstrap-rating-input.js"></script>-->

        <script type="text/javascript" src="../js/home.js"></script>
        <script type="text/javascript" src="../js/globales.js"></script>
        
    </head>

    <body>
        <div id="wrapper">

            <object class="include" name="header" type="text/html" data="include/header.html"></object>

            <div id="container" class="container">

                <nav id="nav">
                    <ul class="nav nav-pills">
                            <li role="presentation" id="nav_home" ><a href="home.html">Movies</a></li>
                            <li role="presentation" id="nav_top10" ><a href="top10.html">Top 10</a></li>
                            <li role="presentation" id="nav_recommended" ><a href="recommended.html">Recommended For Me</a></li>
                            <li role="presentation" id="nav_favorites" ><a href="seen.html">Seen</a></li>
                    </ul>
                </nav>

                <div class="row row-offcanvas row-offcanvas-right">

                    <div class="col-lg-12">
                        <div id="movies_list" class="row">
                            <div class="col-lg-4 img_peli_principal">
                                <div id="img_ppl" style="background-image: url('../assets/movies/movie0.jpg')"></div>
                                <input type="hidden" class="rating" id="rating_ppl" readonly data-min="1" data-max="5"/>
                                <input type="hidden" class="rating" id="like_ppl" readonly data-filled="glyphicon glyphicon-heart" data-empty="glyphicon glyphicon-heart-empty" data-stop="1" />
                                <h3 id="titulo_ppl"> Titulo</h3>
                                <p id="desc_ppl">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                            </div>
                        </div><!--/row-->
                    </div><!--/.col-lg-12-->

                </div><!--/row-->

                <hr>

            </div><!--/.container-->

            <object class="include" name="footer" type="text/html" data="include/footer.html"></object>

        </div>
    </body>

</html>
