<!DOCTYPE html>

<html>

    <head>
        <meta charset="UTF-8" />
        <title>What to Watch :: Seen</title>
        
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="../bootstrap/css/bootstrap-rating.css" />
        <link rel="stylesheet" href="../font-awesome-4.2.0/css/font-awesome.min.css" />

        <link rel="stylesheet" href="../css/style.css" />

        <link rel="stylesheet" href="../css/horizontal.css" />

        <script type="text/javascript" src="../jquery/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="../bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="../bootstrap/js/bootstrap-rating.js"></script>

        <script type="text/javascript" src="../js/horizontal.js"></script>
        <script type="text/javascript" src="../js/sly.js"></script>

        <script type="text/javascript" src="../js/seen.js"></script>
        <script type="text/javascript" src="../js/globales.js"></script>
        <script type="text/javascript" src="../js/auxiliar.js"></script>

        
    </head>

    <body>
        <div id="wrapper">
            
                <object class="include" name="header" type="text/html" data="include/header.html"></object>
                
                <div id="container" class="container">

                    <nav id="nav">
                        <ul class="nav nav-pills">
                            <li role="presentation" id="nav_home" ><a href="home.html">Movies</a></li>
                            <li role="presentation" id="nav_top10" ><a href="top10.html">Top 10</a></li>
                            <li role="presentation" id="nav_recommended" ><a href="recommended.html">Recommended For Me</a></li>
                            <li role="presentation" class="active" id="nav_seen" ><a href="seen.html">Seen</a></li>
                        </ul>
                    </nav>

                    <h3 id="seen_title"></h3>

                    <div class="wrap">

                        <div class="frame effects seen" id="effects">
                            <ul id="clearfix" class="clearfix"></ul>
                        </div>

                        <div class="seen_like">
                            <a href="#"><img id="love_ppl" src="../assets/love.png"></a>
                            <a href="#"><img id="hate_ppl" src="../assets/hate.png"></a>
                        </div>

                        <div class="controls center">
                            <button class="btn prev"><i class="icon-chevron-left"></i> prev</button>
                            <button class="btn next">next <i class="icon-chevron-right"></i></button>
                        </div>

                        <div class="scrollbar">
                            <div class="handle">
                                <div class="mousearea"></div>
                            </div>
                        </div>

                    </div>

                    <hr>

                </div><!--/.container-->

                <object class="include" name="footer" type="text/html" data="include/footer.html"></object>
                
            </div>
        </div>
    </body>

</html>