

<html>

    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="../../css/style.css" />
        <link rel="stylesheet" href="../../font-awesome-4.2.0/css/font-awesome.min.css" />
        <script type="text/javascript" src="../../jquery/jquery-2.1.1.min.js"></script>

        <script type="text/javascript">
        	$(document).ready(function(){

				var profile_pic = sessionStorage.profile_pic;
				var username = sessionStorage.username;

				$('#circular').css('background', 'url('+profile_pic+') no-repeat');
				$('#username').text(username);
			});
        </script>
    </head>
	<body>
		<header>  
		    <h1>What to Watch</h1> 
		    <div id="circular" class="circular"></div>
		    <span id="username"></span>
			
		</header>
	</body>
</html>